.navbar{
    background-color: white;
    padding: 0;
}

.custom-navbar {
    background-color: #7166F5;
    width:106%;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    clip-path: polygon(0% 0%, 96% 0%, 100% 100%, 0% 100%);
    margin: auto;
    border-radius: 0 59px 0 0;
}

.navbar-main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
}

.navbar-main::after {
    content: '';
    position: absolute;
    top: 0;
    right: -100px;
    width: 0;
    height: 0;
    border-bottom: 100px solid #32557f;
    border-right: 100px solid transparent;
    border-radius: 6px;
}

.navbar-brand {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-left: 25px;
}

.trapezoid-wrapper {
    display: inline-block;
    clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
    background-color: #7166F5;
    box-shadow: 0px 4px 10px rgba(224, 12, 12, 0.2);
    padding: 5px;
}

.trapezoid-image {
    width: 220px;
    height: 73px;
    object-fit: cover;
    clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
}

.nav-link {
    color: white;
    font-weight: 500;
    padding: 0.5rem 1rem;
}

.nav-link:hover {
    color: #f8f9fa;
}

.navbar-toggler {
    border-color: white;
}

.navbar-collapse {
    flex-grow: 1;
    justify-content: flex-end;
}

.d-flex {
   padding-right: 40px;
}

.d-flex .btn {
    border-radius: 5px;
    padding: 0px 25px;
}

.me-2 {
    margin-right: -1rem !important;
    padding-right: 0.5px !important;
}

.d-flex .btn:hover {
    color: white;
}

.phone-contact {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 10px;
}

.phone-contact .phone-icon {
    font-size: 24px;
    color: #7166F5;
    margin-right: 10px;
}

.text-container {
    color: #0d0d0e;
}

.text-up p {
    font-size: 14px;
    margin: 0;
}

.text-down p {
    font-size: 18px;
    margin: 0;
    font-weight: bold;
}
