.card-container {
    position: relative;
    background-color: #211F38;
    overflow: visible;
}

.col-md-3 {
    padding: 0;
}

.card {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}

.left-card {
    margin-right: -9px;
}

.right-card {
    margin-left: -9px;
}

.card-image img {
    width: 36%;
    height: 20%;
    padding: 20px 20px;
}

.card-body {
    padding: 15px;
}

.card-body .card-title {
    font-size: 18px;
}

.card-body .card-text {
    font-size: 14px;
    color: #666;
}

.floating-card {
    position: relative;
    z-index: 1;
    transform: translateY(-20px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: #6154f1;
    padding: 10px;
}

.floating-card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../../assets/images/section1/Mask Group.png');
    background-size: cover;
    background-position: center;
    opacity: 0.1;
    z-index: -1;
    border-radius: 10px;
}

.floating-card .card-body {
    position: relative;
    background-color: transparent;
    padding: 20px;
    border-radius: 0 0 10px 10px;
    color: white;
}

.floating-card .card-body .card-text {
    color: white;
}

@media (max-width: 768px) {
    .col-md-3 {
        flex: 0 0 100%;
    }
}

