.free-estimate-container{
    background-image: url('../../assets/images/Free-estimate-section7/BG.png');
    background-size: cover; 
    background-position: center;
    padding: 9% 17%;
}

.free-estimate-title {
    text-align: center;
}

.free-estimate-title p{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: #333;
    margin-bottom: 0;
}

.free-estimate-title p img{
    margin-right: 5px;
}

.free-estimate-title h1{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    color: #333;
    max-width: 69%;
    margin: 0 27%;
    font-size: 30px;
    font-weight: bold;
}
.insurance {
    padding: 50px 20px;
    background-color: white;
    text-align: center;
    border-radius: 0 17px 34px 0;
}

.navbar-insurance {
    display: flex;
    margin-top: 2%;
}

.navbar-insurance a {
    text-decoration: none;
    color: #575858;
    background-color: white;
    font-size: 14px;
    padding: 11px;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 0px 20px 0px 0px;
}

.navbar-insurance a.special-link{
    background-color: #7166F5;
    color: white;
}

.navbar-insurance a:hover {
    background-color: #7166F5;
    color: #fff;
}

.content-insu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.content-insu div {
    flex: 1;
    min-width: 300px;
}

.content-insu img {
    max-width: 100%;
    height: auto;
    border-radius: 0 10px 10px 0;;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
}

form .mb-3 {
    margin-bottom: 15px;
}

form .form-control, .form-select {
    width: 100%;
    padding: 3%;
    padding-left: 20px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    font-weight: bold;
    color: #0e0d0d;
    font-size: 12px;
    background-color: #f7f4f4;
}

.form-control::placeholder {
    color: #080808; 
    opacity: 1; 
}

.label-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-label1 {
    text-align: left;
    font-weight: bold;
}

.form-label2 {
    text-align: right;
    font-weight: bold;
}

.form-range {
    width: 100%;
    margin-top: 10px;
    -webkit-appearance: none;
    appearance: none;
    height: 8px;
    border-radius: 5px;
    background: linear-gradient(to right, #007bff 50%, #e9ecef 50%);
    outline: none;
    transition: background 0.3s ease;
}

.form-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #007bff;
    cursor: pointer;
}

.form-range::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #007bff;
    cursor: pointer;
}

form .btn-primary {
    background-color: #7166F5;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.align-left {
    display: block;
    margin-left: 0;
}

form .btn-primary:hover {
    color: #7166F5;
    border:1px solid #7166F5;
    background-color: white;
}

/* Style for WebKit browsers (Chrome, Safari) */
#progressRange::-webkit-slider-runnable-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
    background: linear-gradient(to right, #7166f5 60%, rgb(233, 236, 239) 0%);
    border-radius: 5px;
}

#progressRange::-webkit-slider-thumb {
    height: 20px;
    width: 20px;
    border-radius: 19%;
    background: black;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -6px; /* Adjust to align thumb with track */
}

/* Style for Firefox */
#progressRange::-moz-range-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
    background: linear-gradient(to right, rgb(83, 97, 112) 60%, rgb(233, 236, 239) 50%);
    border-radius: 5px;
}

#progressRange::-moz-range-thumb {
    height: 20px;
    width: 20px;
    border-radius: 60%;
    background: rgb(83, 97, 112);
    cursor: pointer;
}

/* Style for Internet Explorer and Edge */
#progressRange::-ms-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}

#progressRange::-ms-fill-lower {
    background: rgb(83, 97, 112);
    border-radius: 5px;
}

#progressRange::-ms-fill-upper {
    background: rgb(233, 236, 239);
    border-radius: 5px;
}

#progressRange::-ms-thumb {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: rgb(83, 97, 112);
    cursor: pointer;
    margin-top: 0; /* Adjust to align thumb with track */
}